# Telegram API Credentials (Get from https://my.telegram.org)
TELEGRAM_API_ID=30180445
TELEGRAM_API_HASH=7ba589cf9d04a0c549df7fef55dd76dd

# Random string for signing cookies (e.g., using your API Hash or a UUID)
SESSION_SECRET=7ba589cf9d04a0c549df7fef55dd76dd

# Set to production on Vercel
NODE_ENV=production
